
server:
  port: 8095

spring:
  application:
    name: notification-service
  datasource:
    url: jdbc:mysql://localhost:3306/notifications_db?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    config:
      enabled: false
      import-check:
        enabled: false



  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
