server:
  port: 8094

spring:
  application:
    name: ticket-service

  datasource:
    url: jdbc:mysql://localhost:3306/tickets_db?createDatabaseIfNotExist=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

