server:
  port: 8080

spring:

  application:
    name: microservice-gateway

  cloud:
    gateway:
      routes:
        - id: ticket-service
          uri: http://localhost:8094
          predicates:
            - Path=/api/tickets/**

        - id: notification-service
          uri: http://localhost:8095
          predicates:
            - Path=/api/notifications/**


  globalcors:
    corsConfigurations:
      '[/**]':
        allowedOrigins:
          - "http://localhost:4200"
          - "http://localhost:3000"

        allowedMethods:
          - "GET"
          - "POST"
          - "PUT"
          - "PATCH"
          - "DELETE"
          - "OPTIONS"
        allowedHeaders:
          - "*"
        exposedHeaders:
          - "Authorization"
          - "Content-Type"
        allowCredentials: true


